* {
    box-sizing: border-box;
}

.game-page {
    background-image: url('../assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    color: #d1d5db;
    font-size: 2vh;
    box-sizing: border-box;
}

.top-bar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    padding: 8px;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.3);
}

.cards {
    display: flex;
    padding: 1rem;
    justify-content: center;
    gap: 0.5rem;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.board {
    border: 0.2rem solid black;
}

.game-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.game-header button {
    position: absolute;
    left: 0;
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 1rem;
}

.game-header h2 {
    color: white;
}

.board {
    background-image: url('../assets/green-background.png');
    width: 50%;
    border-radius: 1rem;
    margin: 1rem;
}

hr {
    border: none;
    background-color: black;
    height: 0.2rem;
}

.game-actions button {
    width: 8rem;
    height: 4rem;
    color: black;
    border-radius: 1rem;
    margin: 0.2rem;
}

button.green {
    background-color: green;
}

button.red {
    background-color: red;
}