.game-page {
    background-image: url('../assets/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    color: #d1d5db;
    font-size: 2vh;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    padding: 8px;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.3);
}