.red {
    color: red;
}

.black {
    color: black;
}

.card {
    width: 6.5rem;
    height: 9.1rem;
    border: 1px solid #aaa;
    border-radius: 0.75rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    font-family: 'Georgia', serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.bottom {
    transform: rotate(180deg);
}